# ---------- PyTorch CUDA 12.1 wheels ----------
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchaudio==2.5.1+cu121

# ---------- main libs ----------
whisperx @ git+https://github.com/m-bain/whisperx.git@2d9ce44329ae73af2520196d31cd14b6192ace44
pyannote.audio==3.3.2                # embedded/diarization
speechbrain==1.0.3                  # ECAPA embedding that whisperx uses
ctranslate2<4.5.0                   # used by whisperx
# ---------- speechbrain dependencies ----------
sentencepiece
# ---------- utilities ----------
pydub
numpy>=2.0.2
scipy
librosa==0.11.0
huggingface-hub==0.29.3
runpod==1.7.13
cryptography<43.0.0
python-dotenv
# ---------- runpod / cog ----------
# Latest runpod (s2.x) supports Python 3.10 / 3.11
runpod
# cog
# "cog" is **only** needed in local dev; drop it in container